<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24054304843-iad440g826l4eesjmo5qa5vd378e83so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24054304843-iad440g826l4eesjmo5qa5vd378e83so</string>
	<key>API_KEY</key>
	<string>AIzaSyBU4YvvtKznO-Mp5Pzsnttq_hvl71yzB-0</string>
	<key>GCM_SENDER_ID</key>
	<string>24054304843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>patrice.DemoCloudStorage</string>
	<key>PROJECT_ID</key>
	<string>fir-cloudstorage-5c8a8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cloudstorage-5c8a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24054304843:ios:f12aaa1c08c51b7b6c7dce</string>
	<key>DATABASE_URL</key>
	<string>https://fir-cloudstorage-5c8a8.firebaseio.com</string>
</dict>
</plist>