<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891759349685-rc8r7g4jv970330d3cv1hecojbh31n5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891759349685-rc8r7g4jv970330d3cv1hecojbh31n5h</string>
	<key>API_KEY</key>
	<string>AIzaSyBoGjpW96m2HdG1QQokKK42dIOzPIKz3pc</string>
	<key>GCM_SENDER_ID</key>
	<string>891759349685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>chatswiftui-8c22e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatswiftui-8c22e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891759349685:ios:50d350f71b9e51eca953fc</string>
</dict>
</plist>